.ticket {
    display: flex;
    margin-top: 29px;
    margin-left: 50px;
    padding: 38px 40px 25px 38px;
    background-color: #E8EBF2;
    border-radius: 10px;
    width: 727px;
    height: 174px;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}
.firstColumn {
    display: flex;
    flex-direction: column;
}
.price {
    color: #4E148C;
    font-size: 32px;
    height: 39px;
    padding: 0;
    margin: 0;
}
.airport {
    color: #858AE3;
    font-size: 16px;
    height: 19px;
    margin: 25px 0 0 0;
}
.stops {
    color: #4E148C;
    font-size: 16px;
    height: 19px;
    display: flex;
    margin: 9px 0 0 0;
}
.secondColumn {
    display: flex;
    flex-direction: column;
    margin: 38px 0 0 0;
}
.airlines {
    margin: 0 0 20px 0;
    padding:0;
}
.thirdColumn {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0;
}
.transplants {
    margin: 0 0 5px 25px ;
    padding: 0;
    color: #858AE3;
    font-size: 16px;
    height: 19px;
}
.stopsText {
    margin: 0 0 0 25px ;
    padding: 0;
    color: #4E148C;
    font-size: 16px;
    height: 19px;
}